<<<<<<< HEAD
.card {
=======
card {
>>>>>>> 6ce1c9f ([FEAT] 파일 에러 수정)
  position: relative;
  width: 100%;
  min-height: 150px;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.folderShape {
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.cardContent {
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardContent li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6ce1c9f ([FEAT] 파일 에러 수정)
