.header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.inner {
  width: 1440px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  gap: 16px;
  font-weight: bold;
}

.active {
  color: #3B82F6; /* 파란색 강조 */
}

.right {
  display: flex;
  gap: 16px;
}

.profileText {
  color: #09090B; /* zinc/950 */
}
