.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 72px; /* ✅ 헤더 높이만큼 여백 확보 */
  padding-bottom: 40;
}

.image {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

.buttonArea {
  margin: 24px 0;
}
