.pageBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: white;
  min-height: 100vh;
}

.settingsPanelWrapper {
  position: absolute; /* 또는 relative/fixed 필요 시 */
  z-index: 10; /* ✅ 충분히 높은 수치 */
}

.projectTitle{
  width: 1148px;
  height: 73px;
  flex-shrink: 0;
  padding-left: 25px;
  padding-top: 19px;
  margin-bottom: 50px;
  margin-top: 75px;

  color: var(--Color-Main-Text, var(--zinc-900, #18181B));
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 34.592px; /* 138.366% */
  letter-spacing: -0.087px;

  border-radius: 10px;
  opacity: 0.23;
  background: var(--Color-Blue50, #CBE2FF);
}

.optionsButton {
  position: absolute;
  left: 85%;
  transform: translateX(-50%); /* 버튼 중심 맞추기 */
}

.content {
  border-radius: 10px;
  background: var(--gray-100, #F3F4F6);
  width: 1148px;
  height: 773px;
  flex-shrink: 0;
  padding-top: 85px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.folderIcon {
  width: 135px;
  height: 100px;
}

.message {
  padding-top: 50px;
  color: var(--Color-Sub-Text, var(--zinc-500, #71717A));
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.084px;
  padding-bottom: 50px;
}

.ctaButton {
  padding: 0.75rem 1.5rem;
  background-color: #3877ff;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease-in-out;
}

.ctaButton:hover {
  background-color: #2c64d9;
}
