/* AddProject.module.css */

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background-color: rgba(0,0,0, 0.3);
}

.modal {
  background-color: white;
  color: black;
  padding: 1.5rem;              
  border-radius: 0.5rem;      
  width: 448px;
  height: 257px;
  flex-shrink: 0;
  position: relative;
}

.label {
  color: var(--zinc-950, #09090B);
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
  margin-bottom:6px;  
}

.inputCode{
  color: var(--zinc-500, #71717A);
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom:10px
}

.input {
  width: 384px;
  height: 47px;
  flex-shrink: 0;    
  border-radius: 10px;
  border: 1px solid var(--zinc-300, #D4D4D8);
  color: var(--zinc-500, #71717A);
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.buttonRow{
  display: flex;
  justify-content: flex-end;  /* 오른쪽 정렬 */
  gap: 6px;                  /* 버튼 사이 간격 */
  padding-right: 19px;
}