.pageBackground {
  border-radius: 4.115px;
  margin-bottom: 20px;
  justify-content: center;      /* ✅ 수평 정렬 */
  align-items: center;          /* ✅ 수직 정렬 */
  box-sizing: border-box;
  height:1020px;
}


.header {
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.container {
  min-width: 1200px;
  background-color:white;
  padding:2rem;
  margin-right: 150px;
  
  margin-left: 150px;
  border-radius: 12px;
  justify-content: center;
  margin-top: 80px;  
}


.main{
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 37.377px; /* 186.885% */
  letter-spacing: -0.07px;
  text-decoration: underline;
  text-decoration-color: var(--Color-Sub-Logo, #3B82F6); /* 밑줄 색상 */
  text-underline-offset: 10px; /* 텍스트와 밑줄 간격 조절 (선택 사항) */
  padding-left: 5px;
}

.actions {
  display: flex;
  gap: 24px; 
  align-items: center; 
  margin-bottom: 20px;
}

.header1{
  display: flex;
  justify-content: space-between;
}

.sort{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 47px;
  padding-right: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  row-gap: 50px;
}

.pagination {
  margin-left: 600px;
  justify-content: center;
  display: flex;
  width: 34px;
  height: 34px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  padding-left: 6 00px;
}

.pagination button {
  justify-content: center;
  display: flex;
  width: 34px;
  height: 34px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  color: var(--Color-Main-Text, var(--zinc-900, #18181B));
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  letter-spacing: -0.052px;
}

.pagination .activePage {
  justify-content: center;
  display: flex;
  width: 34px;
  height: 34px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 60px;
  color: var(--Color-Main-Blue, #3B82F6);
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */
  letter-spacing: -0.052px;
  border-radius: 60px;
  background: var(--slate-50, #F8FAFC);
}
