.pageBackground {
  border-radius: 4.115px;
  margin-bottom: 20px;
  background: var(--blue-100, #DBEAFE);
  justify-content: center;      /* ✅ 수평 정렬 */
  align-items: center;          /* ✅ 수직 정렬 */
  box-sizing: border-box;
  height:1020px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  min-width: 1200px;
  background-color:white;
  padding:2rem;
  margin-right: 150px;
  margin-top: 30px;
  margin-left: 150px;
  border-radius: 12px;
  justify-content: center;
}


.main{
  color: var(--zinc-950, #09090B);
  font-family: Pretendard;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.098px;
}

.actions {
  display: flex;
  gap: 24px; 
  align-items: center; 
  margin-bottom: 20px;
}


.sort{
  display: flex;
  padding-bottom: 40px;
  padding-right: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  gap: 30px;
}