.panel {
  width: 234px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--zinc-50, #FAFAFA);
  box-shadow: 0px 0px 4px 0px rgba(169, 166, 166, 0.25);
  margin-left: 890px;
  margin-top: 20px;
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 14px;
  opacity: 1; /* ✅ 명시적으로 추가 */
  z-index: 9999;
}


.content {
  display: flex;
  flex-direction: column;
}
